{% extends "layout.html" %}

{% block content %}

{% if not playlist %}

  <div class="container">
    <div class="mt-1">
      <h1>Playlist</h1>
    </div>
    <p class="lead">You need to log in to see this page</p>

    <a type="button" class="btn btn-default" href="/auth">Login</a>
  </div>

{% else %}

	<div class="container">
        <div class="jumbotron">


	  <h3>Here are some songs in this playlist: </h3>
            <h4><a href="http://127.0.0.1:5000/dash">Chromatize!</a></h4>

    <hr class="half-rule"/>

    	  <div class="row">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Artist</th>
        </tr>
        </thead>
          <tbody>
          {% for song in playlist %}
          <tr>
          <td style="font-size: 18px">
              {{ song.track.name }}
          </td>
          <td style="font-size: 18px">
          {{ song.track.artists[0].name }}
          </td>
          </tr>
          {% endfor %}
          </tbody>
      </table>



    </div>
	</div>
    </div>


{% endif %}

{% endblock %}