{% extends "layout.html" %}

{% block content %}

{% if not playlists %}

  <div class="container">
    <div class="jumbotron">
    <div class="mt-1">
      <h1>Profile</h1>
    </div>
    <p class="lead">You need to log in to see this page</p>

    <a type="button" class="btn btn-default" href="/auth">Login</a>
  </div>
  </div>

{% else %}

	<div class="container">
      <div class="jumbotron">


	  <h3> Pick a playlist you'd like to chromatize </h3>
      <h5>The longer and more musically diverse the playlist the better!
      <br>
      (be patient with very long playlists)</h5>

    <hr class="half-rule"/>

	  <div class="row">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Length</th>
        </tr>
        </thead>
          <tbody>
          {% for playlist in playlists %}
          <tr>
          <td>
            <a href="http://127.0.0.1:5000/playlist?userid={{ user.id }}&id={{ playlist.id }}" style="font-size: 18px">
              {{ playlist.name }}
            </a>
          </td>
          <td style="font-size: 18px">
          {{ playlist.tracks.total }}
          </td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
        <p>(50) Most recent playlists loaded.</p>


      </div>
        </div>

    </div>

{% endif %}

{% endblock %}